
.App-navigation {
    background : #5C5857;
    height:calc(100vh - 80px);

}
.App-navigation a {
    color:#FFFFFF;
    padding:10px 20px;
    display: inline-block;
    text-decoration: none;
    font-size:24px;
    text-transform: lowercase;
    margin: 20px 0;
    border-bottom: 10px solid #FFF
}

.App-navigation a:hover,.App-navigation a.active {
    border-color:#61dafb;
}