body {
  background-color: #FFFFFF;
  color: #282c34;
}

.App-row {
  display: flex;
  align-items: stretch;
}

.App-navigation {
  flex: 20%;
  display: flex;
  flex-direction: column;
}
.App-main-container {
  flex: 80%;
  background-color: white;
  padding: 20px 20px 80px 20px;
}

.App-footer {
  text-align: center;
  padding: 20px;
  background: #282c34;
  color:#FFF;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.time {
  text-align:center;
}

.time span {
  display: inline-block;
  font-size: 98px;
  border: 1px solid #ddd;
  padding: 10px;
  margin-right: 20px;
  min-width: 140px;
  text-align: center;
  background: #eee;
  box-shadow: 29px 4px 9px #eee;
}
